:root {
	--primary-color: #f56960;
	--secondary-color: #0791be;
	--hover-color: #2c75ba;
	--title-color: #101f46;
	--light-color: #ffffff;
	--dark-color: #000000;
	--green-color: #4caf50;
	--blue-color: #167ee6;
	--purpel-color: #4c5caf;
	--red-color: #da0c4d;
  --bg-color: #e8edf2;
  --bg-color-primary: #292929;
  --text-color: #383838;

	--danger-color: #d9534f;
	--info-color: #5bc0de;
	--success-color: #5cb85c;
	--warning-color: #f0ad4e;
	--disable-color: #ccc;

	--site-identity-font: "Raleway", sans-serif;
	--primary-font: "Open Sans", sans-serif;
	--title-font: "Raleway", sans-serif;

	--body-line-height: 1.6;
	--title-line-height: 1.3;

	--container-width: 1230px;
	--full-width: 100%;
	--main-panel-width: 75%;
	--sidebar-width: 25%;

  --bp-lg: 992px;
  --bp-md: 768px;
  --bp-sm: 576px;
}

body {
  font-size: 15px;
  color: #383838;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
}


#dashboard.dashboard-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

}
